@{
    ViewBag.Title = "Home Page";
}
@section scripts{

    <script src="~/Scripts/mustache.js"></script>
    <script src="~/Scripts/jquery.twbsPagination-1.3.1.min.js"></script>
    <script src="~/Scripts/controller/homeController.js"></script>

}
<div class="row">
    <div class="col-md-12">
        <button id="btnAddNew" class="btn btn-success">Add New</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Salary</td>
                    <td>Status</td>
                </tr>
            </thead>
            <tbody id="tblData"></tbody>
        </table>
    </div>
    
</div>
<div id="pagination" class="pagination">

</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>EmployeeID</td>
                    <td>FullName</td>
                    <td>LastName</td>
                    <td>FirstName</td>
                    <td>Title</td>
                    <td>sex</td>
                    <td>BirthDate</td>
                    <td>HireDate</td>
                </tr>
            </thead>
            <tbody id="tblDataDB"></tbody>
        </table>
    </div>
    
</div>
<div id="paginationDB" class="pagination">

</div>

<script id="data-template" type="x-tmpl-mustache">
    <tr>
        <td>{{ID}}</td>
        <td>{{Name}}</td>
        <td><input type="number" data-id="{{ID}}" value="{{Salary}}" id="txtSalary" /></td>
        <td>{{{Status}}}</td>
    </tr>
</script>

<script id="data-templatedb" type="x-tmpl-mustache">
    <tr>
        <td>{{EmployeeID}}</td>
        <td><input type="text" data-id="{{EmployeeID}}" value="{{FullName}}" id="txtFullName" /></td>
        <td>{{LastName}}</td>
        <td><input type="text" data-id="{{EmployeeID}}" value="{{FirstName}}" id="txtFirstName" /></td>
        <td>{{Title}}</td>
        <td>{{Sex}}</td>
        <td><input type="datetime" value="{{BirthDate}}" id="txtBirthDate" /></td>
        <td>{{HireDate}}</td>
    </tr>
</script>

 <!-- Modal -->
<div class="modal fade" id="modalAddUpdate" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add/Update</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="txtName">Name:</label>
                        <input type="text" class="form-control" id="txtName">
                        <input type="hidden" id="hidD" value="0"/>
                    </div>
                    <div class="form-group">
                        <label for="txtSalary">Salary:</label>
                        <input type="number" class="form-control" id="txtSalary">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" id="ckStatus">Active</label>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>