@{
    ViewBag.Title = "Home Page";
}
@section scripts{
    <script src="~/Scripts/bootbox.min.js"></script>
    <script src="~/Scripts/mustache.js"></script>
    <script src="~/Scripts/jquery.twbsPagination-1.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/controller/homeController.js"></script>

}

<br />
<div class="row">
    <div class="col-md-12">
        <div class="col-md-11">
            <div class="col-md-4">
                <input type="text" class="form-control" id="txtNameSearch" placeholder="Type Name" />
            </div>
            <div class="col-md-4">
                <select class="form-control" id="ddlActive">
                    <option value="">All</option>
                    <option value="true">Active</option>
                    <option value="false">Locked</option>
                </select>
            </div>
            <div class="col-md-4">
                <button id="btnSearch" class="btn btn-primary">Search</button>
                <button id="btnReset" class="btn btn-default">Reset</button>
            </div>
        </div>
        <div class="col-md-1">
            <button id="btnAddNew" class="btn btn-success pull-right">Add New</button>
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Salary</td>
                    <td>Status</td>
                    <td>#</td>
                </tr>
            </thead>
            <tbody id="tblData"></tbody>
        </table>
    </div>

</div>
<div id="pagination" class="pagination">

</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>EmployeeID</td>
                    <td>FullName</td>
                    <td>LastName</td>
                    <td>FirstName</td>
                    <td>Title</td>
                    <td>sex</td>
                    <td>BirthDate</td>
                    <td>HireDate</td>
                </tr>
            </thead>
            <tbody id="tblDataDB"></tbody>
        </table>
    </div>

</div>
<div id="paginationDB" class="pagination">

</div>

<script id="data-template" type="x-tmpl-mustache">
    <tr>
        <td>{{ID}}</td>
        <td>{{Name}}</td>
        <td><input type="number" data-id="{{ID}}" value="{{Salary}}" id="txtSalary" /></td>
        <td>{{{Status}}}</td>
        <td>
            <button class="btn btn-primary btn-edit" data-id="{{ID}}">Edit</button>
            <button class="btn btn-danger btn-delete" data-id="{{ID}}">Delete</button>
        </td>
    </tr>
</script>

<script id="data-templatedb" type="x-tmpl-mustache">
    <tr>
        <td>{{EmployeeID}}</td>
        <td><input type="text" data-id="{{EmployeeID}}" value="{{FullName}}" id="txtFullName" /></td>
        <td>{{LastName}}</td>
        <td><input type="text" data-id="{{EmployeeID}}" value="{{FirstName}}" id="txtFirstName" /></td>
        <td>{{Title}}</td>
        <td>{{Sex}}</td>
        <td><input type="datetime" value="{{BirthDate}}" id="txtBirthDate" /></td>
        <td>{{HireDate}}</td>
    </tr>
</script>

@RenderPage("_AddUpdateModal.cshtml")
